<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Member | DRP Management</title>
    <link rel="stylesheet" href="../css/output.css" />
    <link
      rel="stylesheet"
      href="../../public/assets/fontawesome/css/all.min.css"
    />
    <style>
      :root {
        --blue-primary: oklch(54.6% 0.245 262.881);
      }
      .kategori {
        background-color: var(--blue-primary);
      }

      .icon-kategori {
        color: white;
      }

      .kategori:hover {
        background-color: white;
        color: var(--blue-primary);

        .icon-kategori {
          color: var(--blue-primary);
        }
      }
    </style>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <!-- Sidebar -->
    <div class="sidebar"></div>
    <main
      class="lg:ml-64 ml-0 min-h-screen p-4 transition-all duration-300 main"
    >
      <div class="mb-8 shadow-lg p-6 rounded-xl">
        <h1 class="text-4xl font-bold text-gray-800 mb-2">Kategori</h1>
        <p class="text-gray-600">Kelola kategori</p>
      </div>

      <!-- Main Content - dengan margin kiri untuk sidebar -->
    </main>
  </body>

  <script>
    fetch("../components/sidebar.html")
      .then((res) => res.text())
      .then((html) => {
        document.querySelector(".sidebar").innerHTML = html;

        document.getElementById("btn-logout")?.addEventListener("click", () => {
          window.api.exitApp();
        });
      });
  </script>
</html>
