<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Membership | DRP Management</title>

    <link rel="stylesheet" href="../css/output.css" />
    <link
      rel="stylesheet"
      href="../../public/assets/fontawesome/css/all.min.css"
    />

    <style>
      :root {
        --blue-primary: oklch(54.6% 0.245 262.881);
      }
      .membership {
        background-color: var(--blue-primary);
      }
      .icon-membership {
        color: white;
      }
      .membership:hover {
        background-color: white;
        color: var(--blue-primary);
      }
      .membership:hover .icon-membership {
        color: var(--blue-primary);
      }

      .header-membership {
        display: flex;
      }

      /* warna setiap column */
      .bg-red {
        background-color: #ff4d4d;
        color: white;
      }

      .bg-yellow {
        background-color: #ffeb3b;
        color: black;
      }

      .bg-green {
        background-color: #4caf50;
        color: white;
      }

      .filter-section {
        gap: 1rem;
      }

      .print-button-section{
        display: flex;
        gap: 1rem;
      }
    </style>
  </head>

  <body class="bg-gray-100 min-h-screen">
    <!-- Sidebar -->
    <div class="sidebar"></div>

    <!-- MAIN CONTENT -->
    <main
      class="lg:ml-64 ml-0 min-h-screen p-4 transition-all duration-300 main"
    >
      <div class="mb-8 shadow-lg p-6 rounded-xl">
        <h1 class="text-4xl font-bold text-gray-800 mb-2">
          Membership Management
        </h1>
        <p class="text-gray-600">Kelola status membership setiap member gym</p>
      </div>

      <!-- TABEL MEMBERSHIP -->
      <div
        class="bg-white shadow-lg rounded-xl border border-gray-200 overflow-hidden"
      >
        <div class="p-6 border-b border-gray-200">
          <div>
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <div class="bg-blue-100 p-3 rounded-lg mr-3">
                  <i class="fas fa-id-card text-blue-600 text-xl"></i>
                </div>
                <h2 class="text-2xl font-semibold text-gray-800">
                  Daftar Membership per Member
                </h2>
              </div>

              <div class="flex justify-between items-center filter-section">
                <div class="relative">
                  <input
                    type="text"
                    placeholder="Cari membership..."
                    class="pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-transparent transition"
                  />
                  <i
                    class="fas fa-search absolute left-3 top-3 text-gray-400"
                  ></i>
                </div>
                <!-- FILTER TAHUN -->
                <select id="yearFilter" class="border px-3 py-2 rounded-lg">
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                </select>
              </div>
            </div>
            <br>
            <div class="print-button-section">
              <button
                class="p-4 bg-green-100 print-btn"
                id="print-excel-membership-button"
              >
                <i
                  class="fas fa-box text-lg w-5 text-green-600"
                ></i>
                Print Excel
              </button>
              <button
                class="p-4 bg-yellow-100 print-btn"
                id="print-pdf-membership-button"
              >
                <i
                  class="fas fa-box text-lg w-5 text-red-600  group-hover:text-white"
                ></i>
                Print PDF
              </button>
            </div>
          </div>
        </div>

        <!-- TABEL -->
        <div class="overflow-x-auto">
          <table class="w-full">
            <thead class="bg-gray-50">
              <tr>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Nama
                </th>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Jan
                </th>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Feb
                </th>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Mar
                </th>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Apr
                </th>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Mei
                </th>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Jun
                </th>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Jul
                </th>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Aug
                </th>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Sep
                </th>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Oct
                </th>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Nov
                </th>
                <th
                  class="px-6 py-4 text-center text-xs font-semibold text-gray-700 uppercase tracking-wider"
                >
                  Des
                </th>
              </tr>
            </thead>

            <tbody id="memberTable" class="divide-y divide-gray-200"></tbody>
          </table>
        </div>
      </div>
    </main>
  </body>

  <script>
    // LOAD SIDEBAR
    fetch("../components/sidebar.html")
      .then((res) => res.text())
      .then((html) => {
        document.querySelector(".sidebar").innerHTML = html;

        document.getElementById("btn-logout")?.addEventListener("click", () => {
          window.api.exitApp();
        });
      });

    // // Load membership table
    // const script = document.createElement("script");
    // script.src = "../script/";
    // document.body.appendChild(script);
  </script>

  <script src="../script/membership.js"></script>
  <script src="../script/print_pdf_membership.js"></script>
  <script src="../script/print_excel_membership.js"></script>
</html>
